{% extends "layout.njk" %}

{% block content %}
  <div>

    <p>
        {% for item in catalogGames %}
        <li><a href = "games/game/{{item.name}}/{{item.id}}">{{ item.name }}</a></li>

        {% endfor %}
      </p>
  </div>
{% endblock %}

