{% extends "layout.njk" %}

{% block content %}
  <div>
<p> Bienvenue sur Video Games </p>
</br>
</br>

<img src="images/photoPresentation.jpeg" href="images/photoPresentation.jpeg"/>

</br>
</br>
</br>
<a href = "/platform"> Les différentes consoles </a>
  </div>
{% endblock %}
